<%= form_for(@step) do |f| %>
  <% if @step.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@step.errors.count, "error") %> prohibited this step from being saved:</h2>

      <ul>
      <% @step.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :article_id %><br>
    <%= f.number_field :article_id %>
  </div>
  <div class="field">
    <%= f.label :step_times %><br>
    <%= f.number_field :step_times %>
  </div>
  <div class="field">
    <%= f.label :step_source %><br>
    <%= f.text_area :step_source %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
